<% if notice %>
<p class="notice" style="margin: 5px;padding:0;color:blue;"><%= notice %> </p>
  <% elsif alert %>
<p class="alert" style="margin: 5px;padding:0;color:green;"><%= alert %></p>
<% end %>